/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css toàn trnag */
html,
body {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1199px;
    margin: auto;
}

/* css header */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container .header_content nav {
    display: flex;
    align-items: center;
}

header .container .header_content nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 30px;
}

.container .header_content nav ul li {
    padding: 55px 15px;
}


header .container .header_content nav a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}

header .container .header_content nav a:hover {
    color: #f55f8d;
}

header .container .header_content nav a span {
    display: inline-block;
    transition: all 0.5s;
}

/* animation cho cái nav */
header .container .header_content nav a:hover span {
    animation: upToDown 0.3s;
}



header .container .header_content nav button,
.my_Carousel .my_Carousel_article button {
    padding: 20px 50px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    line-height: 1.6;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    transition: all 0.5s;

}

header .container .header_content nav button:hover,
.my_Carousel .my_Carousel_article button:hover {
    background-position: right center;
}

/* css my carousel */


.my_Carousel {
    position: relative;
    padding-top: 180px;
    background-image: url('./../img/pic2.png');
    background-position: top;
    background-size: 100%;
    z-index: 1;
}

.my_Carousel .my_Carousel_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_Carousel .my_Carousel_content .my_Carousel_left {
    width: 60%;
}

.my_Carousel .my_Carousel_content .my_Carousel_right {
    width: 40%;
}

.my_Carousel .my_Carousel_content .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.my_Carousel .my_Carousel_content .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.my_Carousel .my_Carousel_content .my_Carousel_article {
    color: #636363;
}

.my_Carousel .my_Carousel_content .my_Carousel_article p {
    font-size: 18px;
    margin-bottom: 15px;
}

.my_Carousel .my_Carousel_content .my_Carousel_article ul li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
    list-style: none;
}

/* css cho right-carousel */
.my_Carousel .my_Carousel_content .my_Carousel_right img {
    width: 100%;
}

/* css cho favicon the3 i */

.my_Carousel .my_Carousel_article ul li i {
    color: white;
    height: 35px;
    width: 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    background-size: 200%;
}

/* css button cùng với button header  */

/* css Digital Titile */

.services {
    background-image: url('./../img/bg2.png');
    background-position: top center;
    background-size: cover;
    text-align: center;
}

.services .container .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.services .container .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.services .services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    width: 100%;
}

.services .services_content .services_item {
    border-radius: 15px;
    background-color: white;
    padding: 30px 45px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    border: 3px solid transparent;
    transform: translateY(0);
    transition: all 0.3s;
    border-image: 100 round;

}

.services .services_content .services_item:hover {
    transform: translateY(-20px);
    border-image: url('./../img/br.png') 1 round;
}

.services .services_content .services_item img {
    width: 100%;
}

.services .services_content .services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

/* css h3 trong content items*/

.aboutUs {
    background-image: url('./../img/bg15.png');
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs .aboutUs_content {
    display: flex;
}

.aboutUs .aboutUs_content .aboutUs_left {
    width: 50%;
    position: relative;
}

.aboutUs .aboutUs_content .aboutUs_left img {
    width: 100%;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 150px;
    left: -80px
}

.aboutUs .aboutUs_content .aboutUs_right {
    width: 50%;
}

.aboutUs .aboutUs_content .aboutUs_right .title p {
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
    padding: 15px 0;

}

.aboutUs .aboutUs_content .aboutUs_right .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
}

.aboutUs .aboutUs_content .aboutUs_right p {
    padding-bottom: 15px;
}

.aboutUs .aboutUs_content .aboutUs_right ul {
    margin-bottom: 30px;
}

.aboutUs .aboutUs_content .aboutUs_right ul li {
    list-style: none;
    padding-bottom: 15px;
}

.aboutUs .aboutUs_content .aboutUs_right ul li i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;

}

.aboutUs .aboutUs_content .aboutUs_right .btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
}

.aboutUs .aboutUs_content .aboutUs_right .btn-gradient:hover {
    background-position: top right;
}


/* section Number */

.number {
    background-image: url('./../img/bg14.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number .number_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number .number_content .number_item i {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 50%;
    color: white;
    font-size: 40px;
    line-height: 1.9;
    background-size: 200%;
    display: inline-block;
    margin-bottom: 15px;
}

.number .number_content .number_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

/* css Feature  */

.features {
    background-image: url('./../img/bg2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features .features_content {
    display: flex;
}

.features .features_content .features_left {
    width: 50%;
}


.features .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.features .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.features_group .features_item:first-of-type {
    padding: 0 50px 30px 0;
}

.features_group .features_item:nth-last-of-type(2) {
    padding: 0 0 30px 50px;
}

.features_group .features_item:last-of-type {
    padding: 0 50px 30px 0;
}


/* css cho toàn thẻ i */
.features_group .features_bg i {
    font-size: 80px;
    color: #f55f8d;
    line-height: 1;
}

.features_group .features_bg div {
    padding-left: 25px;
}

.features_group .features_bg div h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
}

.features_group .features_bg {
    display: flex;
    align-items: center;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    transition: all 1s;
}

.features_group .features_item:hover .features_bg {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-position: left;
    background-size: 200%;
}

.features_group .features_item:hover i,
.features_group .features_item:hover div,
.features_group .features_item:hover h3 {
    color: white;
}

/*  feature right  */
.features .features_content .features_right {
    width: 50%;
}

.features .features_content .features_right .features_banner {
    margin-right: -80px;
}

.features .features_content .features_right .features_banner img {
    width: 100%;
    animation: move2 5s infinite;
}


/*  css Portfolio */

.portfolio {
    background-image: url('./../img/bg17.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}

/*  css Portfolio_ title  */

.portfolio .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.portfolio .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

/*  css Portfolio_ content  */

.portfolio {
    background-image: url(./../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}

/* css portfolio contnent */
.portfolio .portfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}


.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio_item:hover::before {
    left: 125%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio_icon a {
    color: #fff;
}

.portfolio_item:hover .portfolio_icon {
    transform: translate(0);
}

.portfolio_icon a {
    cursor: pointer;
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}

.portfolio_item:hover .portfolio_text {
    transform: translateY(0);
}

.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.portfolio_text p {
    color: #fff;
    opacity: 0.7;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio_item1 {
    grid-column: 1 / span 2;
}

.portfolio_item5 {
    grid-column: 1 / span 2;
}

.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

/*  css blog section */

.blog {
    background-image: url('./../img/bg16.png');
    padding-top: 50px;
    background-position: center;
    background-size: cover;

}

/*  css blog title */
.blog .title {
    text-align: center;
}

.blog .title p {
    font-weight: 600;
    color: #f55f8d;
    font-size: 22px;
    margin-bottom: 20px;
}

.blog .title h2 {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 800;
    color: #262626;
}

/* css blog content */

.blog .blog_content {
    display: flex;
}

.blog .blog_content .blog_item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}

.blog_item:nth-of-type(2) {
    margin: 0 30px;
}

.blog .blog_content .blog_item .blog_header {
    position: relative;
}

.blog .blog_content .blog_item .blog_header img {
    width: 100%;
    border-radius: 8px;
}

.blog .blog_content .blog_item .blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    position: absolute;
    bottom: -20px;
    left: 15px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
}

.blog .blog_content .blog_item .blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog .blog_content .blog_item .blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog .blog_content .blog_item .blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 400;

}

.blog .blog_content .blog_item .blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog .blog_content .blog_item .blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog .blog_content .blog_item .blog_footer p:first-of-type span {
    color: #f55f8d;
}

/* footer */

footer {
    background-image: url('./../img/bg4.png');
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    padding-top: 35px;
}

footer::before {
    content: "";
    background-image: url('./../img/pattern2.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .footer_top {
    display: flex;
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(./../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

footer .footer_top .footer_text {
    width: 50%;
}

footer .footer_top .footer_form {
    font-size: 28px;
    color: #262626;
    width: 50%;
}


footer .footer_top .footer_text h2 {
    width: 100%;
    color: black;
}

footer .footer_top .footer_form form {
    width: 100%;
    display: flex;
}

footer .footer_top .footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all 0.5s;
}

footer .footer_top .footer_form input:hover {
    border-color: #f55f8d;
}

footer .footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;

}

footer .footer_form button:hover {
    background-position: right center;
}


footer .footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

footer .footer_bottom .footer_item {
    width: 25%;
}

footer .footer_bottom .footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer_item h3::before {
    width: 15px;
}

.footer_item h3::after {
    width: 45px;
    left: 20px;
}

.footer_contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;

}

.footer_item li {
    padding: 0.5rem 0;
    list-style: none;
}

.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_item a:hover {
    color: white;
}


.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_left span {
    color: #f55f8d;
}

.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.footer_copyright a:hover {
    background: #f55f8d;
}

/*  back to top */
.back-to-top {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
}

.back-to-top i {
    transform: rotate(-90deg)
}